* {
    font-family: tahoma;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

p {
    line-height: 18px;
}

div {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#content {
    height: 200px;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#input {
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-top: 10px;
    height: 20px;
    width: 495px;
    padding-left: 5px;
}

#status {
    margin-top: 15px;
    display: block;
}